<div class="page-header-wrapper">
  <!-- <div class="page-header-overlay"></div> -->
  <div class="head-container">
    <div class="logo-wrapper1">
      <img src="assets/logo1.png" alt="">
    </div>
    <div class="logo-wrapper2">
      <img src="assets/logo2.png" alt="">
    </div>
    <div class="logo-center-text">
      <span>Malankara Orthodox Syrian Church
        <br> Diocese of South-West America</span>
    </div>
    <div class="clear"></div>
    <div class="navigation-wrapper">
      <nav id="mainNavId" class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color: #84130d!important;">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active nav-item" id="homeTab">
              <a class="nav-link" [routerLink]="['/']">HOME</a>
            </li>
            <li class="nav-item dropdown" id="regTab">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                REGISTRATION
              </a>
              <div class="dropdown-menu fontFam">
                <a class="dropdown-item" [routerLink]="['studentRegistration']">Student Registration</a>
                <a class="dropdown-item" [routerLink]="['cwcRegistration']">CWC Registration</a>
                <a class="dropdown-item" [routerLink]="['ovbsRegistration']">OVBS Registration</a>
                <a class="dropdown-item" [routerLink]="['diplomaRegistration']">Diploma Registration</a>
                <a class="dropdown-item" [routerLink]="['ttcRegistration']">TTC Registration</a>
                <a class="dropdown-item" [routerLink]="['textbookOrder']">Text Book Order</a>
                <a class="dropdown-item" href="#">Member Registrations</a>
              </div>
            </li>
          </ul>
          <div class="text-right">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item" id="signinTab">
                <a class="nav-link" [routerLink]="['register']">
                  SIGN UP
                </a>
              </li>
              <li class="nav-item" id="loginTab">
                <a class="nav-link" [routerLink]="['signin']">
                  LOGIN
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

<router-outlet></router-outlet>