<!--*************** Carousel *******************-->
<!-- <div class="" style="border: 10px solid #395c80;margin-top: 3rem;">
  <div id="slider" class="carousel slide" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
      <div id="slider" class="carousel-item active">
        <img class="img-responsive mySlides" style="height:400px" src="assets/C1.jpg">
      </div>
      <div id="slider" class="carousel-item">
        <img class="img-responsive mySlides" style="height:400px" src="assets/C2.jpg">
      </div>
      <div id="slider" class="carousel-item">
        <img class="img-responsive mySlides" style="height:400px" src="assets/C3.jpg">
      </div>
      <div id="slider" class="carousel-item">
        <img class="img-responsive mySlides" style="height:400px" src="assets/C4.jpg">
      </div>
    </div>

    <a class="carousel-control-prev" href="#slider" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#slider" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div> -->

<!--*************** Cards *******************-->
<div class="home-header">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body boxShadow">
          <h5 class="card-title fontFam">Diocesan Calendar of Events</h5>
          <p class="card-text">You will get detail information about upcoming events conducted during this year.</p>
          <a href="#" class="card-link">School Of Servant Leadership</a>
          <p>February, 5th 2020</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body boxShadow">
          <h5 class="card-title fontFam">Quick Links</h5>
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li>
                  <a href="#" class="card-link">Abuses Reporting</a>
                </li>
                <li>
                  <a href="#" class="card-link">Parish services</a>
                </li>
                <li>
                  <a href="#" class="card-link">Respect Life</a>
                </li>
                <li>
                  <a href="#" class="card-link">Human Resources</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul>
                <li>
                  <a href="#" class="card-link">Cathalic Mutual</a>
                </li>
                <li>
                  <a href="#" class="card-link">Finance Dept.</a>
                </li>
                <li>
                  <a href="#" class="card-link">Chancery Bulletin</a>
                </li>
                <li>
                  <a href="#" class="card-link">Marriage Tribunal</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body boxShadow">
          <h5 class="card-title fontFam">Prayer of Our CHURCH</h5>
          <p class="card-text">Heavenly Father, in every age you have been our refuge. Yet again and still, we stand before you asking for your
            protection on your holy CHURCH For the victims of abuse and their families, pour out your healing and peace.
            For the bishops of this country, continue to inspire their decisions, and guide them with your Spirit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<body>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
</body>-->